* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

header {
  background: linear-gradient(to bottom, #3A2CAC, #631D9F);
  height: 280px;
  padding: 20px;
}

header nav a {
  color: #f0f0f0;
  text-decoration: none;
}

header nav a:hover {
  color: #f90;
}

header nav .user {
  float: right;
}

header nav li {
  display: inline-block;
  padding-right: 40px;
}

header .headerMain {
  width: 730px;
  color: #ffffff;
  margin: 50px auto;
}

header .headerMain .introduction {
  float: right;
}

header .headerMain h1 {
  line-height: 70px;
}

.banner {
  width: 690px;
  padding: 20px;
  margin: 0 auto;
  margin-top: -105px;
  background: #ffffff;
  box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}
.banner ul {
  text-align: center;
  font-size: 0;
}
.banner ul li {
  font-size: 14px;
  display: inline-block;
  height: 160px;
  width: 180px;
  /* background: red; */
  text-align: center;
}

.banner ul li .feature {
  margin: 20px auto;
  background: #f90;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.main {
  margin: 100px auto;
  width: 720px;
  /* background: red; */
}

.main .block {
  margin-bottom: 100px;
  margin-left: -20px;
}

.main .block .blockText {
  float: left;
  width: 260px;
  line-height: 50px;
  color: #999999;
  font-size: 24px;
  margin-left: 20px;
}

.main .block .blockText h2 {
  font-size: 36px;
  margin-bottom: 50px;
}

.main .block img {
  float: left;
  width: 440px;
  height: 235px;
  margin-left: 20px;
}

.main .block::after {
  content: '';
  clear: both;
  display: block;
}